<div class='row'>
  <div class="col-md-9 col-sm-9 col-xs-8">    
    <div class='row'>
      <% i = 5 %>
      <div class="col-md-<%= i %> col-sm-<%= i %> col-xs-<%= i %>">
        
        <button id="toggle-map" class="btn btn-lg btn-warning btn-block">Map</button>
        <br><div id="map-canvas" class="well <%= mapHidden %>"></div><br>
        <div id="reject-pile" class="well">
          <img src="/trashcan.png" class="img-rounded" style="height:100%;width:100%;"> 
        </div>
      </div>
      <div class="col-md-<%= 12 - i %> col-sm-<%= 12 - i %> col-xs-<%= 12 - i %>">
        <button id="get-location" class="btn btn-lg btn-success btn-block">Tell me where to eat!</button> <br>
        <div id="results">
        
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="col-md-3 col-sm-3 col-xs-4 pull-right">
    <div class="list-group">
      <a href="#friends" class="list-group-item active">
        <h4 class="list-group-item-heading">Friends</h4>
      </a>
      <div id="ticker">
        <% if (friends.length === 0) { %>
          <div class="list-group-item well">
            <h5 class="list-group-item-heading">
              <a href="#friends">Add some Friends</a>           
            </h5>
          </div> 
        <% } %>
        <% friends.each(function(user){ %>  
          
          <div class="list-group-item draggable-friend" data-id="<%=user.escape('id')%>">
            <h4 class="list-group-item-heading">
              <%= user.escape('username') %>
            </h4>
          </div> 
        <% }) %>       
      </div>
      <a class="list-group-item active">
        <h3 class="list-group-item-heading"></h3>
      </a>     
    </div>
    <div class="list-group" id="add-to-party">
      <a class="list-group-item active">
        <h4 class="list-group-item-heading">Party</h4>
      </a>
      <div id="ticker">
        <% if (party.length === 0) { %>
          <div class="list-group-item well">
            <h5 class="list-group-item-heading">
              Drag Friends Here!            
            </h5>
          </div> 
        <% } %>
        <% party.each(function(user){ %>  
          <div class="list-group-item draggable-friend" data-id="<%=user.escape('id')%>">
            <h4 class="list-group-item-heading">
              <%= user.escape('username') %>
            </h4>
          </div> 
        <% }) %>       
      </div>
      <a class="list-group-item active">       
                 
      </a>     
    </div>
    
    
  </div>
</div>










