<!DOCTYPE html>
<html>
<head>
  <title>Shpoonfeed</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
  <nav class="navbar navbar-default" role="navigation">
    <div class='container'>
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Shpoon Feed Me!</a>
    </div>

    
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li>
            <a href="<%= user_url(current_user) %>"><%= current_user.username %></a>
          </li>
          <li>
            <a><%= button_to "Logout", session_url, :method => :delete %></a>
          </li>
        <% else %>
          <li>
            <a><%= button_to "Login", new_session_url, :method => :get %></a>
          </li>
          
        <% end %>
      </ul>
    </div>
    </div>
  </nav>

   
 

<%= yield %>
</div>
</body>
</html>
